.tolbar {
    display: flex;
    background-color: bisque;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    padding: 10px;
    list-style: none;
}